@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Szczegóły dotyczące konta</h3>
<hr />
<dl class="dl-horizontal p-5">
    <dt>
        Nazwa użytkownika:
    </dt>
    <dd>
        @ViewBag.Username
    </dd>
    <dt>
        Data rejestracji:
    </dt>
    <dd>
        @ViewBag.Registered
    </dd>
    <dt>
        Liczba wątków:
    </dt>
    <dd>
        @ViewBag.ThreadCount
    </dd>
    <dt>
        Liczba postów:
    </dt>
    <dd>
        @ViewBag.PostCount
    </dd>
</dl>